* {
    margin: 0;
    padding: 0;
}

#editorjs {
    top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: azure;
}

#data {
    margin-right: 5%;
    margin-left: 5px;
    background-color: snow;
}

.btn1 {
    border: 0;
    border-radius: 5px;
    color: cyan;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 16px;
}

#to-html {
    float: left;
    background-color: snow;
}

.pre {
    margin-right: 5%;
    margin-left: 5%;
}