* {
    margin: 0;
    padding: 0;
}

.main-menu {
    width: 60px;
    height: 60px;
    padding: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.main-menu.i {
    font-size: 150%;
    line-height: 60px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
}

.main-menu:hover i{
    line-height: 55px;
}